@font-face {
  font-family: 'Nunito Sans';
  src: url('./fonts/Nunito Sans/NunitoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('./fonts/Nunito Sans/NunitoSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Landing.js styling*/

body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #7416DE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 100vh;
}

.logo {
  width: 300px;

  margin-top: 1%;
}

.title {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
}

.introtext {
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 21pt;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1%;
}

.sign-in-btn {
  margin-right: 10%;
  color: white; 
  font-weight: bold;
  font-size: x-large;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* SignUp.js styling */

.input-field {
  padding: 10px;
}

.formlabel {
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  font-size: 3rem;
}

.sign-up-btn {
  color: white;
  font-weight: bold;
  font-size: x-large;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}

.signup-link {
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
}